/* ----------------------------------- link to google fonts --------------------------------- */

@import url('https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner:wght@400;500;600;700&family=Lobster+Two:ital,wght@0,400;0,700;1,400&display=swap');

/* ----------------------------------- colors --------------------------------- */

.color-scheme-a {
    background-color: #33402A;
    color: #F2F2F2;
}

.color-scheme-b {
    background-color: #8FA677;
    color: #14260C;
}

.color-scheme-c {
    background-color: #F2F2F2;
    color:#33402A;
}

/* ----------------------------------- logo --------------------------------- */

.logo {
    background: url(../images/logo.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

#hero-image-container {
    margin: 0;
    padding: 0;
}

#hero-image {
    background: url(../images/hero-image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top right;
    min-height: 360px;
    margin: 0;
    padding: 0;
}

.name {
    font-family: 'Edu TAS Beginner', cursive;
    font-weight: 700;
    padding: 0;
    margin: 0;
    text-align: center;
}

.slogan {
    font-family: 'Edu TAS Beginner', cursive;
    font-weight: 400;
    margin: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 0px;
    padding-right: 0px;
    text-align: center;
    font-size: large;
}

/* ----------------------------------- information boxes --------------------------------- */

#information-boxes {
    text-align: center;
}

/* ----------------------------------- opening times --------------------------------- */

#opening-times {
    padding: 20px;
}

#opening-times table {
    width: 50%;
    margin: 0 auto;
}
/* ----------------------------------- about us --------------------------------- */

#about-us h3 {
    padding-top: 50px;
    margin-top: 20px;
}

#about-us p {
    padding: 0;
    margin: 0;
}

#about-us {
    height: 300px;
}

/* ----------------------------------- quotes --------------------------------- */

#quotes {
    padding: 20px;
}

.blockquote {
    font-size: medium;
    margin-top: 20px;
}

/* ----------------------------------- find us --------------------------------- */

#find-us {
    padding: 20px;
}

#map-wrapper {
    height: 300px;
}

#map {
    height: 100%;
    width: 100%;
    border: none;
}

.find-us-item {
    padding-bottom: 16px;
}

/* ----------------------------------- footer --------------------------------- */

.footer {
    font-family: 'Edu TAS Beginner', cursive;
    font-weight: 400;
}

.footer-slogan {
    display: inline-block;
}

.footer-name {
    font-family: 'Edu TAS Beginner', cursive;
    font-weight: 400;
    padding-top: 10px;
    text-align: center;
}

.footer-download {
    font-family: 'Edu TAS Beginner', cursive;
    font-weight: 400;
    padding-top: 25px;
    padding-bottom: 25px;
    text-align: center;
}

.footer-links {
    font-family: 'Edu TAS Beginner', cursive;
    font-weight: 400;
    padding-top: 25px;
    padding-bottom: 25px;
    text-align: center;
    text-decoration: none;
    color:#F2F2F2;
}