/* -- Link to Google Fonts -- */

@import url('https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner:wght@400;500;600;700&family=Lobster+Two:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    border: 0;
}

h1, h2, h3, h4 {
    font-family: 'Edu TAS Beginner', cursive;
}

/* -- Colours -- */

.color-scheme-a {
    background-color: #33402a;
    color: #F2F2F2;
}

.color-scheme-b {
    background-color: #7E8C70;
    color: #FFFFFF;
}

.color-scheme-c {
    background-color: #F2F2F2;
    color:#33402a;
}

/* -- Nav Bar -- */

nav .nav-link {
    color:#33402a !important;
    font-size: 1.5rem;
    font-family: 
}

/* -- Hero Image -- */

#hero-image-container {
    margin: 0;
    padding: 0;
}

#hero-image {
    background: url(../images/hero-image-d.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: #33402a;
    min-height: 360px;
    margin: 0;
    padding: 0;
}

.name {
    font-family: 'Edu TAS Beginner', cursive;
    font-weight: 700;
    padding: 20px 0;
    margin: 0;
    text-align: center;
}

.inner-name {
    padding: 10px;
}

.slogan {
    font-family: 'Edu TAS Beginner', cursive;
    font-weight: 400;
    margin: 0;
    padding: 25px 0;
    text-align: center;
}

.header-bottom {
    height: 20px;
    background-color: #7E8C70;
}

/* -- Information Boxes -- */

#information-boxes {
    text-align: center;
}

/* -- Opening Times -- */

#opening-times {
    padding: 20px;
}

#opening-times table {
    width: 50%;
    margin: 0 auto;
}

/* -- About Us -- */

#about-us h3 {
    padding-top: 50px;
    margin-top: 20px;
}

#about-us p {
    padding: 0;
    margin: 0;
}

#about-us {
    height: 300px;
}

/* -- Quotes -- */

#quotes {
    padding: 20px;
}

.blockquote {
    font-size: medium;
    margin-top: 20px;
}

#middle-name {
    font-family: 'Edu TAS Beginner', cursive;
    font-size: xx-large;
}

#middle-slogan {
    font-family: 'Edu TAS Beginner', cursive;
    font-size: x-large;
}

/* -- Contact Us -- */

#contact-us {
    padding: 20px;
}

#map-wrapper {
    height: 300px;
}

#map {
    height: 100%;
    width: 100%;
    border: none;
}

.contact-us-item {
    padding-bottom: 16px;
}

/* -- Footer -- */

.footer {
    font-family: 'Edu TAS Beginner', cursive;
    font-weight: 400;
}

.footer-top {
    height: 20px;
    background-color: #7E8C70;
}

.footer-bottom {
    height: 20px;
    background-color: #7E8C70;
}

.footer-name {
    font-family: 'Edu TAS Beginner', cursive;
    font-weight: 400;
    padding: 25px 0;
    text-align: center;
}

.footer-download {
    font-family: 'Edu TAS Beginner', cursive;
    font-weight: 400;
    padding: 10px 0;
    text-align: center;
    text-decoration: none;
    color:#F2F2F2;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.footer-download a:hover {
    color: #7E8C70;
}

.footer-links {
    font-family: 'Edu TAS Beginner', cursive;
    font-weight: 400;
    padding: 25px 0;
    text-align: center;
    text-decoration: none;
    color:#33402a;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.footer-links a:hover {
    color: #7E8C70;
}

/* -- Menu Page -- */

.menu-article {
    padding: 0;
    margin: 0;
}

.menu-subtitle {
    padding-bottom: 10px;
    text-align: center;
}

.menu-row {
    padding: 20px;
}

.menu-article table {
    margin: 0 auto;
    padding-top: 15px;
}

.menu-smallprint {
    text-align: center;
}

.table-in-menu td {
    padding: 0 15px;
}

.table-in-menu th {
    padding: 0 15px;
}

.menu-image {
    padding-top: 20px;
    padding-bottom: 20px;
}

.menu-part {
    padding: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
}

#hot-drinks td {
    padding: 0 5px;
}

#hot-drinks th {
    padding: 0 5px;
}

/* -- Food Images -- */

.food-image {
    padding-top: 50px;
    padding-bottom: 30px;
    padding-left: 50px;
    margin: 0;
    border: 0;
    align-items: center;
}

/* -- Audio Menu -- */

#menu-note {
    font-family: 'Edu TAS Beginner', cursive;
    font-weight: 400;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}

#full-audio-menu {
    font-family: 'Edu TAS Beginner', cursive;
    font-weight: 400;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}

/* -- Catering Page -- */

#catering-title {
    padding-top: 20px;
    text-align: center;
}

#contact-us-title {
    text-align: center;
}

#catering-quotes {
    padding-top: 20px;
    text-align: center;
}

#catering-images {
    padding-top: 40px;
}

/* -- Reservations -- */

#reservation-form-1 {
    text-align: center;
    padding: 20px;
    height: calc(100vh -358px);
}

#customer-name {
    width: 50%;
}

#customer-phone {
    margin-top: 20px;
    width: 50%;
}

#customer-email {
    margin-top: 20px;
    width: 50%;
}

#reservation-form-1-submit {
    margin-top: 20px;
}

/* -- Reservations 2 -- */

#reservation-form-2 {
    text-align: center;
    padding: 20px;
}

#reservation-date {
    margin-top: 20px;
}

#reservation-time {
    margin-top: 20px;
}

#reservation-time {
    margin-top: 20px;
}

#number-of-people {
    margin-top: 20px;
    width: 10%;
}

#reservation-form-2-continue {
    margin-top: 20px;
}

/* -- Reservations 3 -- */

#reservation-form-3 {
    text-align: center;
}

#details-title {
    padding: 20px;
}

.seating-options {
    padding: 20px;
}

#send-request {
    padding: 20px;
}

/* -- Reservations 4 -- */

#reservation-form-4 {
    padding: 20px;
    text-align: center;
}

#logo-reservations-4 {
    text-align: center;
}

/* -- 404 -- */

#text-404-title {
    font-family: 'Edu TAS Beginner', cursive;
    text-align: center;
    padding: 20px;
}

#text-404a {
    font-family: 'Edu TAS Beginner', cursive;
    text-align: center;
    font-size: large;
}

#text-404b {
    font-family: 'Edu TAS Beginner', cursive;
    text-align: center;
    font-size: large;
    padding-top: 10px;
    padding-bottom: 20px;
}

.contact-title-404 {
    text-align: center;
    padding: 20px;
}

/* -- Media Queries -- */

@media (min-width: 992px) {

.center-col {
    width: 29%;
    align-self: center;
}

}

@media (min-width: 992px) {

#kids-meals {
    margin-top: 0px;
}

}